* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: azure;
  }
    h1{
        font-family: "Honk";
        font-size: 55px;
    }


  body,
  html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  
  nav {
    height: 8vh;
    text-align: center;
    margin-top: 2rem;
    padding-top: 0.8rem;
    margin-bottom: 0.2  rem;
  }
  
  main {
    height: 45vh;
    max-width: 780px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .inner {
    width: 55%;
    height: 55%;
  }
  
  input {
    margin: 1rem 0 1rem 3rem;
    height: 4vh;
    width: 80%;
    font-size: medium;
    padding: 1rem;
    padding-left: 6rem;
    outline: none;
    background-color: white;
  }

  

  label {
    position: absolute;
    z-index: 1;
    font-size: 1.3rem;
    margin: 20px 55px;
    background-color: white;
    font-family: "Iansui";
  }
  
  .submitBtn {
    background-color:blue;
    color: white;
    padding: 0.5rem;
    text-align: center;
    font-size:large
    width: 10vw;
    border-radius: 3px;
    border: none;
    margin: 1rem 8rem;
    cursor: pointer;
    font-family: "Nosifer";
  }
  
  #displaySec {
    /* border: 2px solid red; */
    height: 7vh;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 3rem;
  }

  p{
    font-family:"Tinos" ;
    color: brown;
  }